version: '3.6'
services:

# ---------- DATABASES ----------
  mysql56:
    hostname: db
    image: mysql:5.6
    restart: always
    ports:
        - "3307:3306"
    volumes:
        - mysql56-data:/var/lib/mysql
        - /tmp:/tmp
    environment:
        MYSQL_ALLOW_EMPTY_PASSWORD: 'true'
    command: --secure-file-priv=''

  mysql57:
    hostname: db
    image: mysql:5.7
    restart: always
    ports:
        - "3306:3306"
    volumes:
        - mysql57-data:/var/lib/mysql
        - /tmp:/tmp
    environment:
        MYSQL_ALLOW_EMPTY_PASSWORD: 'true'
    command: --secure-file-priv=''

  mysql8:
    hostname: db
    image: mysql:8
    restart: always
    ports:
        - "3308:3306"
    volumes:
        - mysql8-data:/var/lib/mysql
    environment:
        MYSQL_ALLOW_EMPTY_PASSWORD: 'true'
    command: mysqld --default-authentication-plugin=mysql_native_password

# ---------- REDIS ----------

  redis:
    image: redis
    hostname: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: ["redis-server", "--appendonly", "yes"]

  redisinsight:
    image: redislabs/redisinsight:latest
    volumes:
      - redisinsight:/db
    ports:
      - "8001:8001"

# ---------- KAFKA ----------

  kafka:
    image: nhaidarflipp/kafka-lenses-dev:latest
    environment:
      ADV_HOST: ${KAFKA_ADV_HOST:-127.0.0.1}
      EULA: ${LENSES_KEY}
      DISABLE_JMX: 1
      ELASTICSEARCH_PORT: 0
      SAMPLEDATA: 0
    ports:
      - "9092:9092"
      - "8081:8081"
      - "3030:3030"
      - "9991:9991"

  mailcatcher:
    image: yappabe/mailcatcher
    ports:
      - "1080:1080"
      - "1025:1025"

# ---------- AWS ----------

  dynamodb:
    image: amazon/dynamodb-local
    command: -jar DynamoDBLocal.jar -sharedDb -dbPath /home/dynamodblocal/data/
    hostname: dynamo-db-local
    ports:
      - "8000:8000"
    volumes:
      - dynamodb-data:/home/dynamodblocal/data

volumes:
  mysql56-data:
  mysql57-data:
  mysql8-data:
  redis-data:
  redisinsight:
  dynamodb-data:
